.booking-container {
  width: 300px;
  background-color: #ffff;
  height: 70vh;
  margin-bottom: 50px;
  box-shadow: 1px 1px 5px #c7d0d8
}

.booking-form-header{
  padding-top:20px;
  text-align: center;
  height: 75px;
  background-color: #5073F1;
  color:#fff;
}