.booking-container {
  width: 300px;
  background-color: #ffff;
  height: 70vh;
  margin-bottom: 50px;
  box-shadow: 1px 1px 5px #c7d0d8;
}

.booking-form-header {
  padding-top: 20px;
  text-align: center;
  height: 75px;
  background-color: #5073f1;
  color: #fff;
}

// styling for bookingform

.booking-availabilities {
  margin: 0 auto;
  font-size: 1.5rem;
  color: #00a2ff;
  border: 2px solid #00a2ff;
  width: 80%;
  height: 40px;
  margin-bottom: 20px;
  outline: none;
}

.booking-availabilities:hover {
  cursor: pointer;
}

.confirm-booking {
  margin: 0 auto;
  font-size: 1.5rem;
  color: #fff;
  background-color: #00a2ff;
  width: 80%;
  height: 40px;
  margin-bottom: 20px;
  outline: none;
}

.patient-booking-box,
.practitioner-booking-box {
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 1px 1px 5px #c7d0d8;
  display: flex;
  margin: 0 auto;
  margin-bottom: 1.4rem;
  width: 90%;
  padding: 20px;
}

// style for the session duration
.duration-container {
  display: flex;
  justify-content: space-between;
}

.booking-duration {
  margin: 0 auto;
  font-size: 1.5rem;
  color: #00a2ff;
  border: 2px solid #00a2ff;
  width: 150px;
  height: 40px;
  margin-bottom: 20px;
  outline: none;
}
