.header {
  .container {
    display: flex;
    justify-content: space-between;
  }
}

.header__brand__img {
  display: inline-block;
  width: 20%;
}

.header__links {
  display: flex;
  height: 50%;
  margin-top: 2.0rem;
}

.header__links__welcome {
  color: $dark-blue;
  font-size: $xmedium;
  margin-right: $button-pad*4;
  padding: $button-pad;
}

.logout {
  background: $green;
  border-radius: 30px;
  color: $white;
  font-size: $medium;
  padding: $button-pad*1.2 $button-pad*3;
}