.auth__container {
  padding: $container-side-pad;
  background: $dark-gradient;
  height: 100vh;
}

.auth-box {
  background: $white;
  border-radius: 5px;
  box-shadow: 2px 2px 5px $regular-grey;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  padding: $large-pad/3;
  width: 30%;
}

.auth-logo {
  text-align: center;
}

.auth-logo__img {
  display: inline-block;
  width: 50%;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin: $button-pad*3 $button-pad*2;
}

.user-form {
  background: $white;
  display: flex;
  flex-direction: column;
}

.auth-label {
  color: $dark-blue;
  font-weight: 700;
  text-align: left;
}

.user-form__input {
  border: 2px solid lighten($dark-blue, 50%);
  border-radius: 5px;
  font-size: $medium;
  padding: $button-pad*1.5 $button-pad;
}

.number__input {
  width: 20%;
}

.profile-form-group {
  text-align: center;
}

.profile-button {
  margin: auto;
  width: 100%;
}

.user-form__option {
  font-size: $regular;
  line-height: 30px;
}

.user-form__button {
  background: $green;
  border-radius: 5px;
  color: $white;
  font-size: $xmedium;
  letter-spacing: 0.2rem;
  padding: $button-pad*1.5 $button-pad;
  text-shadow: 0.5px 0.5px 0.5px $light-grey;
}

.user-form__footer__button {
  color: $dark-blue;
  font-weight: 700;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

// Profile form
.profile-form {
  padding: $container-side-pad/3
}

.profile-form-container {
  padding: $container-side-pad;
}

// Image Preview
.image-preview {
  width: 20%;
}

// Single Date Picker Styles
.DateInput_input {
  border: 2px solid lighten($dark-blue, 50%);
}