.clinic-name {
  font-size: $small;
}

.theme-button {
  font-size: 13px;
  letter-spacing: 0.5px;
  text-align: center;
  color: #fff;
  min-height: 45px;
  min-width: 173px;
  border-radius: 3px;
  background-color: var(--theme-color);
  text-transform: uppercase;
  border: none;
  padding: 10px 22px;
  margin-left: 10px;
  display: inline-block;
}