.patientForm-image {
  width: 20%;
}

.patientForm-button {
  background-color: #5073f1;
  border: none;
  color: white;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.26rem;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.profile-form-container {
  margin-top: $large;
}
