// Font sizes:
$xlarge: 4.0rem;
$large: 3.82rem;
$xmedium: 1.8rem;
$medium: 1.76rem;
$regular: 1.6rem;
$small: 1.4rem;

// Colors:
$light-blue: #cbf1f1;
$medium-blue: #5ce1e6;
$regular-blue: #38b6ff;
$purplish-blue: #5271ff;
$dark-blue: #20385a;
$light-green: #7ed957;
$light-grey: #eff0f2;
$medium-grey: #c7d0d8;
$regular-grey: #9aa7b2;
$black: #000000;
$white: #ffffff;