.header {
  background: $header-gradient;

  .container {
    display: flex;
    justify-content: space-between;
  }
}

.header__brand__img {
  display: inline-block;
  width: 20%;

  &:hover {
    cursor: pointer;
  }
}

.header__links {
  display: flex;
  height: 50%;
  margin-top: 2.0rem;
}

.header__links__welcome {
  // color: $dark-blue;
  color: $white;
  font-size: $xmedium;
  margin-right: $button-pad * 4;
  padding: $button-pad;
}

.logout {
  background: $white;
  border-radius: 30px;
  color: $green;
  font-size: $medium;
  padding: $button-pad * 1.2 $button-pad * 3;
  cursor: pointer;
}

.user-photo-profile {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid #c7d1d8;
}

.logo-link{
  width: 55px;
  height: 55px;
}