// Fonts
$grotesque: 'Darker Grotesque',
sans-serif;

// Widths and heights
$container-side-pad: 8.0rem;
$button-pad: 0.5rem;
$large-pad: 10rem;

// Font sizes:
$xlarge: 4.0rem;
$large: 3.82rem;
$xmedium: 1.8rem;
$medium: 1.76rem;
$regular: 1.6rem;
$small: 1.4rem;

// Colors:
$light-blue: #cbf1f1;
$medium-blue: #1CCBBA;
$regular-blue: #38b6ff;
$light-purplish-blue: #5271ff;
$purplish-blue: #5073F1;
$calendly-blue: #00a2ff;
$dark-blue: #20385a;
$light-green: #7ed957;
$green: #58b2a9;
$light-grey: #eff0f2;
$medium-grey: #c7d0d8;
$regular-grey: #9aa7b2;
$black: #000000;
$white: #ffffff;

// Gradients
$light-gradient: linear-gradient(150deg, rgba(203, 241, 241, 1) 0%, rgba(92, 225, 230, 1) 75%, rgba(56, 182, 255, 1) 100%);

$dark-gradient: linear-gradient(90deg, rgba(28, 203, 186, 1) 0%, rgba(80, 115, 241, 1) 35%, rgba(56, 182, 255, 1) 100%);

$header-gradient: linear-gradient(90deg, rgb(209, 228, 226) 0%, rgba(80, 115, 241, 1) 35%, rgba(56, 182, 255, 1) 100%);

$theme-gradient: linear-gradient(90deg, #1ccbba 0%, #5073f1 35%, #38b6ff 100%);

//button
