.participants-box {
  // margin: 5vw;
  overflow: scroll;
}

.local-participant video {
  width: 200px;
}

.local-position {
  z-index: 999;
  position: absolute;
}

.remote-participants {
  display: flex;
}

.remote-participants video {
  width: 1000px;
}

.participant-name {
  color: red;
}

.remote-participants .blank-video {
  width: 1000px;
}

.multiple-remote {
  width: 45vw !important;
}
