.participants-box {
  // margin: 5vw;
}

.local-participant video {
  width: 200px;
}

.local-position {
  z-index: 999;
  position: relative;
  top: 200px;
}

.remote-participants {
  display: flex;
  position: absolute;
}

.remote-participants video {
  width: 45vw;
}

.participant-name {
  color: red;
}
