.filter {
  display: flex;
  flex-direction: column;
  height: 70vh;
  margin-top: $small;
  background-color: #fff;
  padding: $small;
  margin-left: 5vw;
  border-radius: 5px;
  box-shadow: rgb(199, 208, 216) 1px 1px 5px;
}

.filter h1 {
  margin-bottom: 20px;
}

.filter-select {
  padding: $small;
}

.filter-select {
  height: 5vh;
  font-size: $small * 0.6;
  padding: $small;
}

.filter-button {
  background-color: #5073f1;
  border: none;
  color: white;
  padding: 0.1rem;
  text-align: center;
  display: inline-block;
  font-size: 0.98rem;
  cursor: pointer;
  border-radius: 5px;
  margin: 2vh auto;
  width: 50%;
}
