.booking-selection-container {
  margin-left: $large;
  padding-bottom: $large;
}

.select-date {
  font-size: 1rem;
  color: #20385a;
  font-weight: 700;
  text-align: left;
  margin-right: $small;
}

.SingleDatePicker_picker {
  left: -95.1094px !important;
}