.logged-nav {
  background: $header-gradient !important;
  padding: $button-pad * 1.5;
}

.inverse-theme-button {
  background: white;
  color: $green !important;
  border-radius: 0;
  border: 0;

  @media screen and(min-width:992px) {
    background: $white;
    border-radius: 30px;
    color: $green !important;
  }
}

.header__links__welcome {
  display: none;

  @media screen and(min-width:992px) {
    display: block;
    padding-top: $small/4;
  }
}

.logged-header-greeting {
  color: $white;
  font-size: $small * 0.8;
  font-weight: 400;
  text-shadow: 0.5px -0.5px 0.5px $white;
}

.logged-header-logo-text {
  @media screen and (min-width: 576px) {
    display: block;
  }
}

.navbar-brand {
  padding: 0
}