.scheduler-container {
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 1px 1px 5px #c7d0d8;
  margin-bottom: 1.4rem;
  width: 80%;
  padding: 20px;
}

.rc-time-picker-panel-select li {
  font-size: $medium;
}

.rc-time-picker.xxx {
  // display: block;
  border: 1px solid grey;
}

.rc-time-picker.xxx .rc-time-picker-input {
  outline: none;
  height: $large * 1.2;
  border: none;
  font-size: $medium;
  width: 60%;
}

.rc-time-picker-clear-icon{
  display: none;
}