.duration-container {
  display: flex;
  justify-content: space-between;
}

.booking-duration {
  margin: 0 auto;
  font-size: 1.5rem;
  color: $calendly-blue;
  border: 2px solid $calendly-blue;
  width: 150px;
  height: 40px;
  margin-bottom: 20px;
  outline: none;

  &:hover {
    cursor: pointer;
    background: $calendly-blue;
    color: $light-grey;
    font-weight: 700;
  }
}

.selected-duration {
  cursor: pointer;
  background: $calendly-blue;
  color: $light-grey;
  font-weight: 700;
}

.scheduler-inner-component-container {
  margin-top: $medium;
}

.scheduler-inner-component__title {
  margin-bottom: $medium;
}

.schedule-label {
  margin-right: $small * 0.2;
}