.visitor-header {
  background: $white;
  box-shadow: 0.5px 0.5px $light-grey;
  padding: $medium 0;
  position: fixed;
  text-align: right;
  width: 100%;
  z-index: 1000;
}

.visitor-header__container {
  display: flex;
  justify-content: space-between;
}

.visitor-header__brand {
  text-align: center;
  width: 12%;
}

.visitor-header__logo {
  display: inline-block;
  width: 50%;
}

.authentication {
  background: $green;
  border: 2px solid $green;
  border-radius: 30px;
  color: $white;
  font-size: $xmedium;
  margin: 0 $small;
  padding: $button-pad*1.2 $button-pad*3;
}