// .practitionerList-container {
//   padding: $small;
//   @media only screen and (min-width: 600px) {
//     padding: $large;
//   }
// }

.doctor-list-background {
  background-color: #fff;
  padding-bottom: $small;
  border: none;
  padding-top: $small;
  text-align: center;
}
