.practitionerListplaceholder {
  flex-direction: row;
  margin: 1.4rem 5.73rem 1.4rem 5.73rem;
  background-color: #fff;
  box-shadow: 1px 1px 5px #c7d0d8;
  padding: 1.4rem 0 1.4rem 0;
  display: flex;
  justify-content: space-around;
  min-width: 50vw;
}
