.practitioner-details-container {
  background: $white;
  border-radius: 5px;
  box-shadow: 1px 1px 5px $medium-grey;
  display: flex;
  margin-bottom: $small;
  width: 50vw;
}

.practitionerDtails-info {
  padding: $small;
}
