.practitionerList-container {
  display: flex;
}

.doctor-list-background {
  background-color: #fff;
  padding-bottom: $small;
  border: none;
  padding-top: $small;
  text-align: center;
}

// .sidebar {
//   display: flex;
//   flex-direction: column;
// }
