.practitionerCard-image {
  text-align: center;
  width: 100%;
  box-shadow: 1px 1px 5px $medium-grey;
  border-radius: 5px;
}

.practitioner-card {
  background: $white;
  border-radius: 5px;
  box-shadow: 1px 1px 5px $medium-grey;
  display: flex;
  margin: 0 auto;
  margin-bottom: $small;
  flex-direction: column;
  width: 90%;
}

.practitioner-name {
  color: $dark-blue;
  font-family: $grotesque;
  font-size: $xmedium * 1.8;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  margin: 0;
  text-align: left;
}

.practitionerCard-image-container {
  margin: 0 auto;
  padding: $small;
  text-align: center;
  width: 90%;
}

.practitioner-card-specialties {
  color: $purplish-blue;
  font-family: $grotesque;
  font-size: $xmedium * 1.2;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.18;
  letter-spacing: normal;
  text-align: left;
}

.practitionerCard-info-container{
  text-align: center;
  padding: $small;
}

.practitioner-card-education {
}
