.mobile-container {
  background: url('https://i.imgur.com/rJWfewk.png') no-repeat;
  background-size: cover;
  height: 100vh;
}

@media screen and(min-width:576px) {
  .mobile-container {
    background: url('https://i.imgur.com/avdEbTW.jpg') no-repeat;
    background-position: 20%;
  }
}

// Visitor Header
.header-logo {
  width: $large * 1.5;

  @media screen and(min-width:576px) {
    display: none;
  }
}

.navbar-nav {
  text-align: center;
}

.theme-button {
  color: $dark-blue;
  font-size: $small * 0.9;

  @media screen and(min-width:576px) {
    background: #58b2a9;
    border: 2px solid #58b2a9;
    border-radius: 30px;
    color: #ffffff !important;
    font-size: 1.8rem;
    margin: 0 1.4rem;
    padding: 0.3rem 1rem !important;
    font-size: $small * 0.9;
  }
}

.navbar-light {
  @media screen and(min-width:576px) {
    padding: $small 0;
  }
}
