.auth-box {
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #9aa7b2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  min-width: 250px;
  max-width: 290px;
  padding: 2rem;
  @media screen and(min-width:576px) {
    max-width: 400px;
    padding: 3.33333rem;
  }
}

.login-logo {
  display: inline-block;
  width: 50%;
}

.auth__container {
  background: $theme-gradient;
  padding-top: 10vh;
  height: 100vh;
}


.auth-label {
  font-size: 1rem;
  color: #20385a;
  font-weight: 700;
  text-align: left;
}

.auth-logo {
  text-align: center;
}

.user-form__input {
  border: 2px solid #9db7dc;
  border-radius: 5px;
  font-size: 1rem;
  padding: 0.75rem 0.5rem;
  width: 100%;
}

.user-form__footer {
  font-size: 1rem;
}

.login-button {
  background: #5073f1;
  border-radius: 5px;
  color: #ffffff;
  font-size: 1rem;
  letter-spacing: 0.2rem;
  padding: 0.75rem 0.5rem;
  text-shadow: 0.5px 0.5px 0.5px #eff0f2;
  margin-left: 10%;
  width: 80%;
}

.signup-button {
  font-weight: bold;
  font-size: 1rem;
  border: none;
  background: none;
}
