.signup__container {
  background: $theme-gradient;
  height: 100%;
  padding-top: 10vh;
 padding-bottom: 10vh;
}

.login-box {
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #9aa7b2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  min-width: 250px;
  max-width: 290px;
  padding: 2rem;

  @media screen and(min-width:576px) {
    max-width: 400px;
    padding: 3.33333rem;
  }
}

.signup-button{
  background: #5073f1;
  border-radius: 5px;
  color: #ffffff;
  font-size: 1rem;
  letter-spacing: 0.2rem;
  padding: 0.75rem 0.5rem;
  text-shadow: 0.5px 0.5px 0.5px #eff0f2;
  margin-left: 10%;
  width: 80%;
}


.login-text {
  font-weight: bold;
  font-size: 1rem;
  border: none;
  background: none;
}
