.navbar.navbar-expand-sm.verification-header-nav {
  justify-content: space-around;
}

.verification-header-logo {
  width: $xlarge * 2.2;
  padding-left: $small;
}

.verification-message {
  color: darken($purplish-blue, 1.2);
  font-size: $small* 0.65;
  font-weight: 700;
  padding: $container-side-pad * 0.7;
  text-align: center;

  @media screen and (min-width: 767px) {
    font-size: $small * 0.7;
  }

  @media screen and (min-width: 992px) {
    font-size: $small * 0.8;
  }
}

.verify-login-button {
  background: $green;
  border: 2px solid $green;
  border-radius: 30px;
  color: $white !important;
  font-size: $small * 0.8;
  padding: 0.3rem 1rem !important;

  @media screen and(min-width:576px) {
    background: $green;
    border: 2px solid $green;
    border-radius: 30px;
    color: $white !important;
    margin: 0 1.4rem;
    padding: 0.3rem 1rem !important;
  }
}