.authenticated-body__sidebar {
  background: $light-blue;
  background: $white;
  flex: 0.25;
  margin: 0 $container-side-pad*0.25;
  margin-left: 0;
  padding-top: 3rem;
  height: 90vh;
}

.authenticated-body__sidebar-container {
  padding: $container-side-pad*0.2 $container-side-pad*0.5;
}

.profile-avatar__img {
  border-radius: 50%;
  box-shadow: 1px 1px 1px $regular-grey;
  width: 80%;
}

.sidebar__nav {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}

.sidebar__navlink {
  margin: $container-side-pad*0.3 0;
  margin-right: 20px;

  a,
  button {
    color: $dark-blue;
    font-size: $xmedium;
    font-weight: 700;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }

}