.scheduler-button {
  margin-top: 1.4rem;
  background: #5073f1;
  border-radius: 5px;
  color: #ffffff;
  font-size: $small * 0.8;
  letter-spacing: 0.2rem;
  padding: 0.75rem 0.5rem;
  text-shadow: 0.5px 0.5px 0.5px #eff0f2;
}
