.clinic-card-button {
  background-color: #5073f1;
  border: none;
  color: white;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: $small * 0.9;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.clinic-card-button:hover {
  text-decoration: none;
}

.clinic-image {
  display: block;
  margin: $small auto;
  width: 80%;
  box-shadow: 1px 1px 5px $medium-grey;
  border-radius: 5px;
}

.clinic-card {
  background-color: #fff;
  margin-bottom: $xlarge;
  box-shadow: 1px 1px 5px $medium-grey;
  padding: $small 0 $small 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  @media only screen and (min-width: 600px) {
    display: flex;
    flex-direction: row;
    margin-left: 10vw;
    margin-right: 10vw;
  }
}

.clinic-details {
  text-align: center;
  padding: $small;
}

.clinic-address,
.clinic-postalcode {
  font-size: $small;
}

.clinic-name {
  font-size: $medium;
}

.clinic-card-image {
  text-align: center;
  width: 70%;
  box-shadow: 1px 1px 5px $medium-grey;
  border-radius: 5px;
}

.clinic-card-image-container {
  margin: 0 auto;
  padding: $small;
  text-align: center;
  width: 60%;
}

.add-clinic-button {
  background-color: $purplish-blue;
  border: none;
  color: white;
  padding: $small * 0.5;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 79vw;
  margin-top: 4vw;
}
