.clinic-profile-card {
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 10vh;
  margin-bottom: 10vh;
  padding-bottom: 50px;
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 1px 1px 5px #c7d0d8;
  display: flex;
  flex-direction: column;
}

.clinic-profile-image {
  display: block;
  margin: $small auto;
  width: 80%;
  box-shadow: 1px 1px 5px $medium-grey;
  border-radius: 5px;
  @media only screen and (min-width: 600px) {
    width: 30%;
  }
}

.clinic-profile-container {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.clinic-profile-info-container {
  padding: $small;
}
