.clinic-form-image {
  display: block;
  margin: $small auto;
  width: 40%;
  box-shadow: 1px 1px 5px $medium-grey;
  border-radius: 5px;
}

.ClinicForm-button {
    background-color: #5073f1;
    border: none;
    color: white;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.26rem;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}