.offering__list__container {
  background: $medium-blue;
  padding: $button-pad $container-side_pad * 0.2
}

.offering__list__title {
  color: $purplish-blue;
  font-size: $xlarge;
  text-align: center;
  text-transform: uppercase;
}

.offering__list {
  display: flex;
  justify-content: space-around;
}

.offering {
  background: $white;
  margin: $medium $button-pad*3;
  padding: $button-pad*3 $button-pad;
  text-align: center;
}

.offering__title,
.offering__text {
  color: $dark-blue;
}

.offering__text {
  font-size: $small;
}

.offering__avatar {
  text-align: center;
}

.offering__avatar__image {
  width: 90%;
}